@font-face {
    font-family: 'Works Sans';
    src: url('../fonts/WorkSans-Regular.ttf') format('truetype'),
    url('../fonts/WorkSans-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }
    @font-face {
      font-family: 'Works Sans';
      src: url('../fonts/WorkSans-SemiBold.ttf') format('truetype');
      font-weight: 600;
      }
    @font-face {
    font-family: 'Rubik', sans-serif;
    src: url('../fonts/Rubik-ExtraBold.ttf') format('truetype'),
    url('../fonts/static/Rubik-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }
    @font-face {
    font-family: 'Rubik', sans-serif;
    src: url('fonts/Rubik-SemiBold.ttf') format('truetype');
    font-weight: 700;
    }
  
    .nav-link2 {
      border-radius: 50px;
      padding: 13px 30px 14px 30px;
      border: none;
      background-color: #ED2C41;
      font-weight: 500;
      margin: -5px;
      background-image: linear-gradient(to bottom, #FFFFFF 50%, #000 50%);
      background-size: 100% 200%;
      background-position: center bottom;
      background-clip: padding-box;
      transition: background-position 0.4s ease-in-out;
    }
  
    .nav-link2:hover {
      color: #000000;
      background-position: center top;
    }
  .banner-image {

    background-color: #EE4053;
    background-blend-mode:overlay;
    height:85vh;
  }
  .bg-black {
    background-color: #000000 !important;
  }
  .nav-item{
    margin-right: 20px;
  }
  .nav-link{
    font-family: 'Works Sans', serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
  }
  .header__h1{
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 74px;
  color: #ffff;
  }
  .header__p{
    font-family: 'Works Sans', serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #ffff;
    }
    @media only screen and (max-width: 991px) {
        .breadcrumb-content h4 {
          font-size: 32px;
          margin-bottom: 5px;
        }
      }
      
.breadcrumb-content h4 {
    color: #fff;
    font-size: 50px;
    margin-bottom: 10px;
}
.breadcrumb-link span {
    display: inline-block;
    background: #000;
    height: 6px;
    width: 27px;
    border-radius: 50px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 1px;
}
@media only screen and (max-width: 991px) {
    .breadcrumb-link p {
      font-size: 14px;
    }
  }
.breadcrumb-link p {
    display: inline-block;
    margin-bottom: 0;
    color: #fff;
    font-weight: 500;
}

.breadcrumb-right-img-shape {
    position: absolute;
    right: 0;
    bottom: 60px;
}
.breadcrumb-left-img-shape {
    position: absolute;
    left: 0;
    bottom: 60px;
}
.title__h4{
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
   font-size: 50px;
}
  
  
.menu-toggle-btn ul {
  cursor: pointer;
  position: relative;
  margin: 15px;
  padding: 0;
  list-style: none;
}
.menu-toggle-btn li {
  background: #fff;
  height: 2px;
  width: 36px;
  margin-bottom: 6px;
  border-radius: 10px;
}
.menu-toggle-btn li:last-child {
  margin-bottom: 0;
  width: 24px;
  position: absolute;
  right: 0;
}

.custom-offcanvas {
  width: 35vw;
  padding-left: 30px;
  padding-top: 10px;
}

.cross-icon {
  background: #ED2C41;
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 30px 17px 49px 54px;
  -webkit-clip-path: ellipse(62% 65% at 80% 31%);
  clip-path: ellipse(62% 65% at 80% 31%);
}
.cross-icon i {
  color: #fff;
  font-size: 60px;
  cursor: pointer;
  line-height: 34px;
  display: block;
  -webkit-transition: .4s;
  transition: .4s;
}
.cross-icon:hover i {
  transform: rotate(90deg);
}
i.bx {
  vertical-align: middle;
}
.bx {
  font-family: 'boxicons'!important;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  display: inline-block;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.menu-toggle-content h1 {
  font-size: 35px;
  font-weight: 500;
  font-weight: 700;
  margin: 30px 0 20px;
  font-family: "Rubik", sans-serif;
  color: #262626;
}
.menu-toggle-content h1 span {
  color: #1F2044;
  font-size: 47px;
  font-weight: 600;
}
.menu-toggle-content p {
  margin-bottom: 2em;
  font-family: "Work Sans", sans-serif;
  color: #999999;
  font-weight: 400;
  line-height: 1.6;
  display: block;

}
.menu-toggle-address-info .address-icon i {
  color: #ED2C41;
}
.address-icon i {
  font-size: 34px;
  display: inline-block;
  border: 1px solid #ED2C41;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  text-align: center;
  line-height: 54px;
}
.menu-toggle-address-info {
  margin-top: 15px;
}
.menu-toggle-social h4 {
  font-size: 25px;
  margin: 0 0 15px;
  font-family: "Rubik", sans-serif;
  color: #262626;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .menu-toggle-btn {
    display: none;
  }
  
  .offcanvas {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .nav-link2 {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .banner-image{
    height: 35vh;
    }
    .breadcrumb-left-img-shape {
      position: absolute;
      left: 0;
      top: 40px;
  }
  .breadcrumb-right-img-shape {
    position: absolute;
    right: 0;
    top: -100px;
}
}
@media screen and (max-width: 600px) {
  .breadcrumb-content .title__h4{
   font-size: 35px;
  }
  .banner-image{
    height: 50vh;
  }
  .breadcrumb-left-img-shape {
    position: absolute;
    left: 0;
    top: 10px;
}
.breadcrumb-right-img-shape {
  position: absolute;
  right: 0;
  top: -100px;
}
}



/* --   */
.location-map{
margin-top: 60px;
}

/* 4th sec*/
.contact-form-area{
margin-top: 100px;
margin-bottom: 50px;
}
.contact__allrow{
margin-bottom: 80px;
}
.contact-office-wrap {
    display: flex;
    height: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-shadow: 7px 10px 40px rgba(13, 52, 79, 0.1);
    box-shadow: 7px 10px 40px rgba(13, 52, 79, 0.1);
    border-radius: 5px;
    overflow: hidden;
    transition: .3s;
}
.contact-office-content h3 {
    color: #1F2044;
    font-size: 28px;
    margin: 0 0 15px;
    font-family: "Rubik", sans-serif;
    font-weight: 700;
}
.contact-office-wrap:hover h3 {
    color: #F02C41;
  }
.contact-office-content p {
    color: #868686;
    font-size: 16px;
    margin: 0 0 15px;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
}
.loc__img{
    max-width: 100%;
    height: auto;
    overflow: clip;
}
.contact-form-wrap {
    height: 95%;
    width: 100%;
    background: #F5F5F5;
    padding: 30px;
    border-radius: 5px;
}

.d-table {
    display: table!important;
}
.contact-form-box {
    vertical-align: middle;
}
.d-table-cell {
    display: table-cell!important;
}
.contat-input {
    position: relative;
}
.contat-input input, .contat-input textarea {
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    border-radius: 5px;
    padding: 13px 20px;
    margin-bottom: 24px;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.contact-btn-wrap button {
    border: none;
}
.common-btn {
    background: #ED2C41;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    color: #fff;
    display: inline-block;
    padding: 11px 30px;
    border-radius: 30px;
    -webkit-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
    position: relative;
    overflow: hidden;
    z-index: 1;
 
     background-image: linear-gradient(to bottom, #000 50%, #ED2C41 50%);
    background-size: 100% 200%;
    background-position: center bottom;
    background-clip: padding-box;
 
    
}
    .common-btn:hover {
        color: #ffff;
        background-position: center top;
      }
      



.contact-address-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 40px;
    -webkit-box-shadow: 7px 10px 40px rgba(13, 52, 79, 0.1);
    box-shadow: 7px 10px 40px rgba(13, 52, 79, 0.1);
    border-radius: 5px;
    padding: 60px 10px 60px 64px;
    position: relative;
    -webkit-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
}
.contact-address-wrap:before {
    background-image: url(assets/contact-top-left-shape.png);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}
.contact-icon {
    position: relative;
    z-index: 1;
    overflow: hidden;
    background: linear-gradient(280.93deg, #252955 23.56%, #142358 86.06%);
    color: #fff;
    height: 90px;
    width: 90px;
    text-align: center;
    font-size: 48px;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.contact-icon:before {
    background-image: url(assets/contact-icon-shape.png);
    position: absolute;
    left: 0;
    bottom: 0;
    height: 60%;
    width: 100%;
    content: "";
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
}

.contact-address-wrap:after {
    background-image: url(assets/contact-bottom-right-shape.png);
    content: "";
    position: absolute;
    right: -14px;
    bottom: -14px;
    z-index: 0;
    width: 177px;
    height: 177px;
    background-repeat: no-repeat;
    visibility: hidden;
    -webkit-transition: .3s;
    transition: .3s;
}

.contact-address-wrap:hover:after { /*imgae animate show*/
    visibility: visible;
    transform: translateX(-14px) translateY(-14px);
}
.contact-address-content {
    position: relative;
    padding-left: 20px;
}
.contact-address-content h3 {
    font-size: 30px;
    color: #1F2044;
    line-height: 23px;
    font-weight: 700;
    margin: 0 0 15px;
    font-family: "Rubik", sans-serif; 
}
.contact-address-content span {
    font-size: 20px;
    color: #868686;
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
}
.about__h4{
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    color: #ED2C41;
    font-size: 18px;
    margin-bottom: 15px;
    line-height: 15px;
    margin-top: 10px;
    text-transform: uppercase;
    }
    .about__h2{
        margin-bottom: 50px;
        font-weight: 700;
        font-size: 35px;
        line-height: 32px;
        font-family: "Rubik", sans-serif;
        color: #262626;
        }
.about-us {
    display: inline-flex;
    align-items: center; 
    }
    .section-title-dot {
    display: flex;
    align-items: center; 
    margin-left: 10px;
    }
    .section-span__first {
        display: block;
        width: 7px;
        height: 5px;
        border-radius: 45%;
        margin: 0 2px;
        background-color: #ED2C41;
        }   
        .section-span__sec {
        display: block;
        width: 7px;
        height: 3px;
        border-radius: 45%;
        margin: 0 2px;
        background-color: #ED2C41;
        }  
        .section-span__thrd {
        display: block;
        width: 5px;
        height: 3px;
        border-radius: 45%;
        margin: 0 2px;
        background-color: #ED2C41;
        } 
        .contact__h2 {
            margin-bottom: 40px;
            margin-top: 70px;
            font-family: "Rubik", sans-serif;
            font-size: 35px;
            color: #262626;
            font-weight: 700;
        }
        @media screen and (max-width: 600px) {
         .location-wrap{
          margin-top:25px;
         }
         .contact-address-content span{
          font-size: 14px;
        }
        .c__office{
          margin-top: 25px;
        }
        }
        @media only screen and (min-width: 768px) and (max-width: 1024px) {
          .contact-form-wrap{
          margin-bottom: 50px;
          }
          .contact-office-content p{
            margin-left: 2rem;
          }
          .c__office{
            margin-top: 25px;
          }
        }

        .contact-office-location{
          margin-top: 24px;
        }

  /*11th section */
  .subscribe{
    margin-top: 100px;
    background-color: #F5F5F5;
    padding-top: 30px;
    padding-bottom: 80px;
    }
    .subscribe__content {
    font-family: 'Rubik', sans-serif;
    font-size: 50px;
    line-height: 60px;
    font-weight: 700;
    }
    .subscribe__row{
      margin-top: 50px;
      }
  
    .subscribe-content-form {
      -webkit-box-shadow: 7px 10px 40px rgba(13, 52, 79, 0.1);
      box-shadow: 7px 10px 40px rgba(51, 60, 66, 0.1);
      overflow: hidden;
      border-radius: 30px;
  }.hero-form {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }.subscribe-content-form input {
  width: 100px; /* change the width to your desired size */
  padding: 18px 25px; /* adjust the padding to fit the new width */
  }
  
  .hero-form button {
  
  border: none;
  background-color: #ED2C41;
  color: #fff;
  position: absolute;
  right: 0;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  height: 90%;
  border-radius: 30px;
  -webkit-box-shadow: 12px 19px 62px rgba(13, 52, 79, 0.1);
  box-shadow: 12px 19px 62px rgba(13, 52, 79, 0.1);
  padding: 0px 35px 0 35px;
  margin-right: 3px;
  -webkit-transition: all 1s ease 0s;
  overflow: hidden;
  z-index: 1;
  
  background-image: linear-gradient(to bottom, #000 50%, #ED2C41 50%);
  background-size: 100% 200%;
  background-position: center bottom;
  background-clip: padding-box;
  transition: background-position 0.4s ease-in-out;
  }
  .subscribe-content-form button:hover {
  height: 90%;
  color: #ffff;
  background-position: center top;
  }
  .hero-form input {
  border: none;
  background: #fff;
  font-size: 13px;
  width: 100%;
  padding: 18px 162px 18px 17px;
  border-radius: 30px;
  }
  
  
  
  
  .subscribe__col{
    position: relative;
  }
  .subscribe-shape-1 {
    left: 100px;
    top: 5px;
    position: absolute;
    -webkit-animation: rotation-angle infinite 3s alternate;
    animation: rotation-angle infinite 3s alternate;
  }
  .subscribe-shape-2 {
    left: 10px;
    bottom: -110px;
    position: absolute;
    -webkit-animation: subscribe-zoom infinite 3s alternate;
    animation: subscribe-zoom infinite 3s alternate;
  }
  .subscribe-shape-3 {
    right: 100px;
    top: 5px;
    position: absolute; 
    -webkit-animation: rotation-angle infinite 3s alternate;
    animation: rotation-angle infinite 3s alternate;
  }
  .subscribe-shape-4 {
    right: 10px;
    bottom: -110px;
    position: absolute;
    -webkit-animation: subscribe-zoom infinite 3s alternate;
    animation: subscribe-zoom infinite 3s alternate;
  }
  .subscribe-shape {
    position: absolute;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  @keyframes rotation-angle {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(50deg);
    }
  }
  
  @keyframes subscribe-zoom {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
  
  }
  @media (max-width: 768px) {
    .subscribe-shape {
      display: none;
    }
  }
  @media screen and (max-width: 600px){
    .hero-form button {
      padding: 0 15px 0 15px;
    }
    .subscribe__cta_title{
      font-size: 25px;
    }
    
  }
  



   /*footer section*/
.footer{
  color: #ffff;
  background-color: #262626;
  padding-top: 5rem;
}
.footer__p--1,.footer__p{
font-family: "Work Sans", sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 26px;
}
.footer__p{
  margin-bottom: 7px;
}
.footer__logo{
  margin-bottom: 15px;
}

.image-with-text {
  display: flex;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 10px;
}

.image-with-text img {
  margin-right: 20px;
  border-radius: 5px;
}

.image-with-text .f__p {
  margin: 0;
  font-size: 13px;
}
.footer-social li a {
  display: block;
  font-size: 15px;
  background: #ED2C41;
  -webkit-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.06);
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.06);
  border-radius: 50%;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 41px;
  margin-right: 8px;
  -webkit-transition: all .5s;
  transition: all .5s;
  color: #fff;
}
.footer-social li {
  display: inline-block;
}
.footer-social ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/*footer icon rotate*/
.footer-social ul li a i {
  transition: transform 0.5s ease;
}

.footer-social ul li a:hover i {
  transform: rotate(360deg);
}

.footer-social ul li a.active i {
  transform: rotate(0deg);
}

.address-icon i {
  font-size: 34px;
  display: inline-block;
  border: 1px solid #ED2C41;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  text-align: center;
  line-height: 54px;
}

.footer__h4{
  font-family: "Rubik", sans-serif;
  font-size: 22px;
  font-weight: 500;

}
.footer__h4_2{
  font-family: "Rubik", sans-serif;
  font-size: 22px;
  font-weight: 500;
  margin-top: 3px;
  margin-bottom: 50px;
}
hr.hr__2{
  margin-top: 45px;
}
hr.hr__1{
  margin-top: 26px;
}
.foot_text{
margin: 4px 0px 16px 0px;
}
.address-content {
  padding-left: 10px;
}
.address-content span {
  font-weight: 500;
  font-family: "Rubik", sans-serif;
  font-size: 15px;
}
a {
  color: unset;
  text-decoration: none;
}
.contact-address-info{
  display: flex;
}
.contact-address-info__{
  padding-left: 75px;
  display: flex;
}

@media screen and (max-width: 600px){
 .footer__h4{
  margin-top: 20px;
  
 }
 .contact-address-info__{
  margin-bottom: 15px;
  padding-left: 1px;
 }
 .footer__h4_2{
  text-align: left;
  margin-bottom: 10px;
}
.hr__1{
  margin-top: 50px;
}
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .contact-address-info__{
  margin-top: 15px;
  padding: 0;
  }
  .contact-address-info{
    margin-top: 15px;
  }
  .footer__h4_2{
    text-align: left;
    margin-bottom: 10px;
  }
  .hr__1{
    margin-top: 50px;
  }
  .footer__h4{
    margin-top: 25px;
  }
}
